<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

	<!-- Header -->
<%- include('./partials/headerDeslogueado') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form action="/users" method="GET">
					<div>
						<label for="user">Email:</label>
						<input id="email" type="email" name="email" value="">
					</div>
					<div>
						<label for="password">Contrasenia:</label>
						<input id="password" type="password" name="password" value="">
					</div>
					<div>
						<label for="recordame">Recordame</label>
						<input id="recordame" type="checkbox" name="recordame" value="">
					</div>
					<div>
						<button type="submit">Enviar</button>
					</div>
				</form>
			</h2>


			<%- include('./partials/footer') %>

</body>

</html>