<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<% if(locals.usuario){ %>
		<%- include('./partials/headerLogueado') %>
		<% } else{ %>
			<%- include('./partials/headerDeslogueado') %>
			<% } %>
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
		<img src="images/banner-autos.png" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="images/products/auto1.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Ferrari</h2>
							<p>Ferrari 428 Italia, destacado por su aceleracion.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="images/products/auto2.jpeg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Lamborghini</h2>
							<p>Lamborghini Gallardo, un clasico a traves de los a침os.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="images/products/auto3.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Paganni</h2>
							<p>Pagani Huraya, elegante como una gazela.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="images/products/auto4.jpeg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Porsche</h2>
							<p>Porsche 930, un auto para gente con buen gusto.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Novedades -->
	<!-- M치s comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">M치s comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="images/products/auto5.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>BMW</h2>
							<p>BMW M2, no es un auto, mas bien una experiencia.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="images/products/auto6.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Pontiac</h2>
							<p>Pontiac GTO, un auto para los de la vieja escuela.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="images/products/auto7.jpeg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Alfa Romeo</h2>
							<p>Alfa Romeo GTA, su lujoso interior es tope de gamma.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="images/products/auto8.jpeg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Nissan</h2>
							<p>Nissan 370Z, para ganar en todas las carreras.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /M치s comentados -->


	<%- include('./partials/footer') %>

</body>	
</html>